{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}

    <h2>Private Investigations Services</h2>
    <section id="content" class="cols-a">
				<article>
					<nav id="breadcrumbs">
						<ol>
							<li><a href="./">Home</a></li>
							<li><a href="./">Personal Investigation</a></li>
							<li>Background Check</li>
						</ol>
					</nav>
					<header class="vcard a sticky-a" itemscope itemtype="http://schema.org/Person">
						<figure><img itemprop="img" src="http://placehold.it/180" alt="Placeholder" width="180" height="180"> <figcaption>The author</figcaption></figure>
						<h3 class="fn org" itemprop="name">Robert Mann</h3>
						<p class="scheme-g" itemprop="jobtitle">Lead Detective and Founder</p>
						<p>Robert Mann has over 22+ years of success completing complex &amp; sophisticated national/international cases.</p>
					</header>
					<h2>Background Checks</h2>
					<p class="scheme-a">Worldwide Intelligence Network holds an exclusive Post Certified Certificate issued by the Human Resource Division of the Los Angeles Police Department.</p>
					<p class="clear">How well do you know the person or people you're dealing with? We all know the old expression "look before you leap", and it's crucial that you know as much as you can about them before entering the next level of your relationship.</p>
					<p class="scheme-b">Background checks help you get the information you need to make a decision you're more comfortable with.</p>
					<p>Background checks are so important that the first topic taught in these seminars is their significance in helping their clients know exactly who they are getting involved with when seeking to solidify a professional or personal relationship with.</p>
					<p class="scheme-c"><img src="http://placehold.it/380x288" alt="Placeholder" width="380" height="288"> Lead Private Investigator and director of operations for Worldwide Intelligence Network, <span class="strong">Robert Mann</span>, is a <span class="strong">qualified provider</span> of the California State Bar who is <span class="strong">authorized to present Continuing Minimum Legal Education (MCLE)</span> seminars to practicing Attorneys and their firms.</p>
					<p>Worldwide Intelligence Network has conducted hundreds of background checks over the past 22 years. We perform a comprehensive executive level, pre-employment, personal and business background investigation for the subject(s) you need to know more about, based on exceptional confidential sources that are located in almost every metropolitan city in the world.</p>
					<p class="scheme-b">Worldwide Intelligence Network Specializes in Executive Level Background Investigations</p>
					<p>Executive level background investigations encompass a much deeper level of intelligence gathering. These involve such tasks as in-person interviews with former employers and/or associates, financial institutions, prior business partners, family and friends. Plateaus of an executive level investigation involve international media searches, global credit reports, nationwide and worldwide asset searches. They also include an exhaustive search on multiple domestic and foreign legal filings that vary from state to state and country to country.</p>
					<ul class="list-a">
						<li class="a"><a href="tel:18778855220">1 877 885 5220</a> Call now</li>
						<li class="b"><a href="./">Contact Us Form</a></li>
					</ul>
					<p class="scheme-d strong">Get your <span class="scheme-e">free</span> consultation today!</p>
					<p>Our expertise includes investigations of potential and current high-level executives in multinational corporations as well as key personnel, partners, investors and principals involved in a merger and acquisition.</p>
					<h3>Business Background Checks</h3>
					<p>Individuals can research a business on the internet and learn a great deal, but the majority of information found online tends to be inaccurate, meaningless and dated. Are you willing to invest your hard earned money in a business or partnership based on unreliable data?</p>
					<p>When is the right time to conduct a background investigation on someone or a company you are contemplating going into a business transaction with?</p>
					<p>The answer is simply BEFORE you enter into the transaction. Nearly every request we receive asking us to locate assets in anticipation of a law suit over a failed business venture could have been prevented had our client or his attorney asked us to conduct an executive level background investigation on the principals involved. Mergers and acquisitions involving millions, even billions, of dollars occasionally go forward without background investigations on the principals.</p>
					<p>Find out the real facts with a thorough business background investigation performed by our international team of specialists. Call 1 877 885 5220.</p>
					<h3>Personal Background Checks</h3>
					<p>Is your son or daughter getting married, but you don't know anything about their partner? Do you want to hire a nanny to watch your child? Is the person you love really who they claim to be? Have you met someone online and think they are the ideal love of your life?</p>
					<p>When we perform a background investigation for the person you want to know more about, you receive information that allows you to have more confidence in pursuing, or not pursuing, a future relationship. Our investigators can find out criminal, financial, professional, and personal history, compiling all data in a detailed report for your easy reference.</p>
					<ul class="social-a">
						<li>Share on:</li>
						<li class="fb"><a href="./">Facebook</a></li>
						<li class="li"><a href="./">LinkedIn</a></li>
						<li class="tw"><a href="./">Twitter</a></li>
						<li class="gl"><a href="./">Google plus</a></li>
					</ul>
					<h3 class="header-a">Futher reading</h3>
					<ul class="list-b">
						<li><span class="title">Locate People</span> We have achieved a 95% success rate for the 22+ years we have been helping clients locate witnesses, lost family members, and even former romantic partners.</li>
						<li><span class="title">Surveillance</span> Worldwide Intelligence Network has been conducting Surveillance Investigations for over twenty –three years. Our Surveillance Investigators have thousands of hours of surveillance experience.</li>
						<li><span class="title">Locate People</span> helping clients locate witnesses, lost family members, and even former romantic partners.</li>
						<li><span class="title">Surveillance</span> Investigations for over twenty –three years. Our Surveillance Investigators have thousands of hours of surveillance experience.</li>
						<li><span class="title">Locate People</span> We have achieved a 95% success rate for the 22+ years we have been helping clients locate witnesses, lost family members, and even former romantic partners.</li>
						<li><span class="title">Surveillance</span> Worldwide Intelligence Network has been conducting Surveillance Investigations for over twenty –three years. Our Surveillance Investigators have thousands of hours of surveillance experience.</li>
						<li><span class="title">Locate People</span> We have achieved a 95% success rate for the 22+ years we have been helping clients locate witnesses, lost family members, and even former romantic partners.</li>
						<li><span class="title">Surveillance</span> Worldwide Intelligence Network has been conducting Surveillance Investigations for over twenty –three years. Our Surveillance Investigators have thousands of hours of surveillance experience.</li>
					</ul>
				</article>
				<aside>
					<h3>Follow Us</h3>
                    {% block aside %}
                        {% static_placeholder "footer" %}
                    {% endblock aside %}

                    {% static_placeholder "contactus" %}

					<h3>Our Testimonials <a href="./">Show all</a></h3>
					<p class="strong">Service is great! Recommended!</p>
					<p>I have had the pleasure of working with Robert first at the studios then later in the contract guard and consulting business. His knowledge is deep and extensive which allows him to offer several solutions in sensitive cases. Robert is also flexible, efficient and easy to work with which is a big plus when it comes to executive protection or confidential matters.<br> <span class="scheme-g strong">Chuck Harold</span> - Security Radio</p>
					<h3>In the Media</h3>
					<p>Check out <a href="./">real stories</a> about our weekdays</p>
					<ul class="gallery-a">
						<li><img src="{{ STATIC_URL }}images/logo/e.png" alt="Logo" width="65" height="55"></li>
						<li><img src="{{ STATIC_URL }}images/logo/f.png" alt="Logo" width="52" height="55"></li>
						<li><img src="{{ STATIC_URL }}images/logo/g.png" alt="Logo" width="55" height="55"></li>
						<li><img src="{{ STATIC_URL }}images/logo/h.png" alt="Logo" width="60" height="55"></li>
					</ul>
				</aside>
			</section>
  {% placeholder "content" %}

{% endblock content %}
{% block social_part %}
{% endblock social_part %}