@charset "utf-8";
/* -------------------------------------------

	Name: 		Worldwide Intelligence Network (print)
	Date:		2014/11/21
	Author:		http://psdhtml.me
		   		   
---------------------------------------------  */
* { margin: 0; padding: 0; }
@page { margin: .5cm; }

html { font-size: 100.01%; }
body { background: #fff; font-size: 60%; }

body, textarea, input, select, option, button { color: #000; font-family: Calibri, Helvetica, Arial, sans-serif; line-height: 1.4; }
li, dt, dd, p, figure, th, td, caption, pre, legend { font-size: 1.5em; } /*---*/ li *, li li, dt *, dd *, p *, figure *, th *, td *, legend * { font-size: 1em; }
ul, ol, dl, p, figure, table, pre, h1, h2, h3, h4, h5, h6, legend { margin-bottom: 1em; }

article, aside, div, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; margin-bottom: 2em; }
	
	
/*! Layout --------- */
#top { margin: 0 0 1em; padding: 0 0 0.5em; border-bottom: 1px solid #ccc; }
	#top h1 a { color: #000; text-decoration: none; }
#featured { background: none !important; }
#content { }
	#content a:after { content: " (" attr(href) ") "; color: #555; font-size: 0.8em; font-style: italic; }
	#content a[href^="#"]:after { content: ""; }
#footer { margin: 1em 0 0; padding: 1em 0 0; border-top: 1px solid #ccc; }


/*! Columns --------- */


/*! Modules --------- */
.list-b, .list-c, .gallery-c { list-style: none; padding: 0; }
	.list-b * { position: relative !important; left: 0 !important; float: none !important; width: auto !important; max-width: none !important; height: auto !important; min-height: 0 !important; margin: 0 !important; padding: 0; }
	.list-b li, .list-c li, .gallery-c li { float: none; width: auto; height: auto !important; min-height: 0 !important; margin-bottom: 2em; padding: 0; }
	.list-b .title, .list-c .title, .gallery-c .title { display: block; margin-bottom: .5em; color: #000; font-size: 1em; font-weight: 700; }
.scheme-c img { display: block; margin-bottom: 1em; }


/*! Defaults --------- */
h1, h2, h3, h4, h5, h6 { margin: 1.25em 0 0.5em; color: #000; font-family: Cambria, Georgia, serif; }
h2, h3 { page-break-after: avoid; }
	h1 { margin-top: 0; font-size: 2.4em; }
	h2 { font-size: 2.0em; }
	h3 { font-size: 1.8em; }
	h4 { font-size: 1.6em; }
	h5 { font-size: 1.5em; text-transform: uppercase; }
	h6 { font-size: 1.4em; text-transform: uppercase; }
p, h2, h3 { orphans: 3; widows: 3; }

a { color: #09f; text-decoration: underline; }

img { max-width: 100% !important; border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }
tr, img { page-break-inside: avoid; }

ul, ol, dd, blockquote { padding-left: 2em; }
	ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

table { display: table; border-collapse: collapse; border-spacing: 0; }
	table th, table td { padding: 0.3em 0.6em; border: 1px solid #ccc; }


/*! Hiding --------- */
#skip, nav, form, .social-a, .social-b, #footer ul, #top > a, .link, .list-a, .list-a + .scheme-d, .bx-prev, .bx-next, .gallery-a, .gallery-b, .cols-a > aside h1 a, .cols-a > aside h2 a, .cols-a > aside h3 a, .cols-a > aside h4 a, .cols-a > aside h5 a, .cols-a > aside h6 a, .link-a, .link-b, .list-b.desktop-only, .scheme-h img, #featured figure, .gallery-c img, #contact figure, .tabs-a > ul { position: absolute; left: -3000em; top: -3000em; }